<header>
  <nav class="custom-nav">
    <ul>
      <li><a href="/" routerLink="/home" routerLinkActive="active" >
        <img src="/icon.png" alt="SacredLotus Logo" style="height: 24px; width: auto;">
      </a></li>
      <li><a href="/series" routerLink="/series" routerLinkActive="active">Series</a></li>
      <li><a href="/movies" routerLink="/movies" routerLinkActive="active">Movies</a></li>
      <li><a href="/songs" routerLink="/songs" routerLinkActive="active">Songs</a></li>
      <li><a href="/about" routerLink="/about" routerLinkActive="active">About me</a></li>
    </ul>
  </nav>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>
