$font-family-name: 'Mukta';
$font-path: '/fonts/';

@font-face {
  font-family: $font-family-name;
  src: url("#{$font-path}Mukta-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.media-card {
    background-color: white;
    display: flex;
    box-shadow: 11px 10px 20px 10px rgba(211,211,211,0.75);
    border: 1px solid gba(211,211,211,0.75);
    border-radius: 25px;
    width: 450px;
    height: 250px;
    margin: 24px;
    margin-bottom: 72px;
    padding: 24px;
    overflow: visible;
    position: relative;
    justify-content: space-around;
    font-family: 'Mukta', sans-serif;
}

.media-image {
    box-shadow: 11px 10px 20px 10px rgba(211,211,211,0.75);
    height: 275px;
    border-radius: 25px;
    width: auto;
    bottom: 0;
    z-index: 1;
}

.media-info {
    margin-top: 10px;
    max-width: 175px;
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
}

    .title > * {
        margin: 0px;
    }

.genre {
    color: #D3D3D3;
    font-size: 12px
}

.description {
    width: 175px;
}

.rating {
    background-color: rgb(249,197,0);
    border-radius: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.media-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
