<h1>Series</h1>
<div class="media-list">
    <div *ngFor="let item of mediaItems" class="media-card">
        <img [src]="item.ImageUrl" [alt]="item.title" class="media-image" />
        <div class="media-info">
          <div class="title">
            <h5>{{ item.Title }}</h5>
            <p class="rating"><b>{{ item.Rating }}</b></p>
          </div>
          <p class="genre">{{ item.Genre }}</p>
          <p class="description">{{ item.Description }}</p>
        </div>
      </div>
      
</div>